.Item {
  display: grid;
  grid-template-columns: 40px repeat(2, 1fr) 100px;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 10px;
  border-bottom: 1px dashed #ccc;
}

.Item_basket {
  display: grid;
  grid-template-columns: 40px repeat(2, 1fr) 110px 100px;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 10px;
  border-bottom: 1px dashed #ccc;
}

.Item-code {
  padding: 0 10px;
}

.Item-title {
  padding: 0 10px;
}

.Item-price {
  display: flex;
  justify-content: flex-end;
}

.Item-count {
  text-align: right;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px
}
